html{
    font-size: 62.5%;
}
.containerImg {
    background-image: url(../img/background/10929-marmol-blanco.png);
    background-size: cover;
    background-attachment: fixed;
}
header{
    justify-content: center;
}
.contenedor{
    margin: 2rem auto;
    padding: 20px;
    height: auto;
    text-align: center;
}
.contacto{
    padding: 30px;
    height: auto;
    // font-size: $textSm;
}

main{
    svg{
        text-align: center;
        width: 40px;
        fill: $secondaryColor;
    }
    iframe{
        width: 50%;
        height: 100%;
    }
    form{
        padding: 10px;
    }
}

