@media(min-width: 482px){
    .imgInicio1{
        width:100%;
        display: block;
        visibility: visible;
    }
    .imgInicio2{
        width:100%;
        position: relative;
        display: none;
        visibility: hidden;
    }
}
@media(max-width: 481px){
    .imgInicio1{      
        width:100%;
        position: relative;
        display: none;
        visibility: hidden;
    }
    .imgInicio2{
        width:100%;
        display: block;
        visibility: visible;
    }
    .error{
        width: 360px;
    }
}

@media (max-width: 321px){
    main{
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
    }
        main img{
            width: auto;
        }
        .imgInicio2{
            width:100%;
            display: block;
            visibility: visible;
        }
        main form{
            width: 90%;
            height: 90%;
        }
        main ul p{
            width: 100%;
        }
}
