@mixin textos($family,$color,$weight,$size){
    font-family: $family;
    color: $color;
    font-weight: $weight;
    font-size: $size;

}
h1{
    @include textos($mainFont,$mainColor,$fontBold,$textXl)
}
h2{
    @include textos($mainFont,$mainColor,$fontBold,$textLg)
}
p{
    @include textos($mainFont,$mainColor,$fontLight,$textMd)
}
