article{
    padding-top: 20px;
    margin: auto;
    display: flex;
    align-content: center ;
    .card{
        padding-top:30px;
        margin: auto;
        width: 90%;
        img{
            align-content: center;
            width:70%;
            margin: auto;
        }
    }
}
