article{
    padding-top: 20px;
    margin: auto;
    display: flex;
    align-content: center ;
    .card{
        padding-top:30px;
        margin: auto;
        width: 90%;
        img{
            align-content: center;
            width:70%;
            margin: auto;
        }
        .cardText{
                font-family: $secondaryFont !important;
                font-size: $textSm;
                font-weight: $fontBold;
                text-align: center;
        }
    }
}

// .card{
//     margin: auto;

//     width: 90%;
//     img{
//         align-content: center;
//         width:70%;
//         margin: auto;
//     }
//     .card-body{
//         p{
//             text-align: center;
//             font-family: $secondaryFont !important;
//             font-size: .8em;
//         }
//     }
// }
// .card-body{
    
    
//     p{
//         text-align: center;
//         font-family: $secondaryFont;
//         font-size: .8em;
//     }
// }
