//colors
$mainColor:rgb(53, 53, 52);
$secondaryColor:rgb(106, 106, 104);
$keyColor:#000807;

//fonts
$mainFont:"Roboto", sans-serif;
$secondaryFont:'Satisfy', sans-serif;

//sizing
$textSm:1.4em;
$textMd:1.8em;
$textLg:2.5em;
$textXl:2.7em;

//font weight
$fontBold: 400;

